{
  "extends": "stylelint-config-airbnb",
  "plugins": [
    "stylelint-order",
  ],
  "rules": {
    "order/properties-order": [
      [
        "position",
        "top",
        "right",
        "bottom",
        "left",
      ],
      {
        unspecified: "bottom",
      }
    ],
  },
}