/* stylelint-disable no-unknown-animations */

[data-tabs] {
  [data-tab-selector] {
    position: relative;
    z-index: 1;
    margin: 0;
    cursor: pointer;
  }

  [data-tab-pane] {
    overflow: hidden;
    height: 0;

    &[is-active] {
      height: auto;
    }
  }
}