.accordion {
  &-section {
    position: relative;
    z-index: 2;
  }

  &__item {
    position: relative;

    &:not(:last-of-type) {
      margin: 0 0 8px;
    }
  }

  &__button {
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    border: 0;
    cursor: pointer;
  }

  &__content {
    display: block;
    overflow: hidden;
    height: 0;
    transition: height .5s;
    padding: 0;

    [data-accordion-content-inner] {
      padding: 15px;
    }
  }
}
