body {
  font-family: $fontPrimary;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background-color: $bgColor;
  color: $fontColorPrimary;
}

a {
  color: $fontColorPrimary;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}