$fontPrimary: "Roboto",
"Helvetica Neue",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Arial,
sans-serif;
$themeColor: orangered;
$accentColor: deeppink;
$fontColorPrimary: #000;
$fontColorSecondary: #333;
$bgColor: #f5f5f5;
// SCREENS
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 567px;